In [7]:
from extrairInfosBacen import extrairDividasJson, extrairNomeCliente
import pandas as pd
import numpy as np
import os

In [153]:
#Cliente Ok
files_dir = 'G:\Drives compartilhados\Pontte\Operações\Projetos\Automação de Crédito\Simulação\DAIANY KELLY NEVES DE OLIVEIRA - 531832441\Crédito\Bacen'
bacen_files = [f for f in os.listdir(files_dir) if f.endswith(".json")]
bacen_files
results = pd.DataFrame()

#Ler Todos os BACEN da pasta e transformar em DF
for file in bacen_files:
    varTesteCliente = os.path.join(files_dir, file)
    df = extrairDividasJson(varTesteCliente)
    if len(df) > 0:
        df = extrairDividasJson(varTesteCliente)
        results = pd.concat([results, df], axis=0).reset_index(drop=True)

#Tratar nan
results = results.fillna(0)

In [154]:
results

vencimento,nome,tipoDivida,nomeDivida,"A vencer, próx 30 dias.",A vencer: 31 a 360 dias.,A vencer: acima de 361 dias.
0,DAIANY KELLY NEVES DE OLIVEIRA,A vencer,Cartão de Crédito,235.59,278.50,0.00
1,DAIANY KELLY NEVES DE OLIVEIRA,A vencer,Cheque Especial,128.54,0.00,0.00
2,DAIANY KELLY NEVES DE OLIVEIRA,A vencer,Financiamento de Automóvel,3676.14,34642.94,63187.77
3,DAIANY KELLY NEVES DE OLIVEIRA,Limite de Credito,Cartão de Crédito,0.00,0.00,1685.91
4,DAIANY KELLY NEVES DE OLIVEIRA,Limite de Credito,Cheque Especial,0.00,0.00,912.87
5,ISADORA DE OLIVEIRA SENA,A vencer,Cartão de Crédito,15351.19,0.00,0.00
6,ISADORA DE OLIVEIRA SENA,Limite de Credito,Cartão de Crédito,0.00,0.00,2650.76

In [157]:
import openpyxl as xl
from openpyxl.utils.dataframe import dataframe_to_rows

In [160]:
planilhaExcel = r'C:\Users\Matheus\Downloads\teste\Simulador FI_v10_novo layout.xlsm'

In [163]:
rows = dataframe_to_rows(results, index=False)
wb = xl.load_workbook(planilhaExcel, keep_vba=True, data_only=False)
ws = wb['Bacen']

for r_idx, row in enumerate(rows, 1):
    for c_idx, value in enumerate(row, 2):
        ws.cell(row=r_idx, column=c_idx, value=value)

wb.save(planilhaExcel)