In [1]:
from extrairInfosBacen import extrairDividasJson, extrairNomeCliente
import pandas as pd
import numpy as np
import os

In [2]:
#Cliente Ok
files_dir = 'G:\Drives compartilhados\Pontte\Operações\Projetos\Automação de Crédito\Simulação\DAIANY KELLY NEVES DE OLIVEIRA - 531832441\Crédito\Bacen'
bacen_files = [f for f in os.listdir(files_dir) if f.endswith(".json")]
bacen_files

['D.K.N.DEOLIVEIRA-17093336000149-2022-05-19.json',
 'DAIANYKELLYNEVESDEOLIVEIRA-57101833187-2022-05-19.json',
 'ISADORADEOLIVEIRASENA-45876239895-2022-06-21.json']

In [3]:
varTesteCliente = os.path.join(files_dir, bacen_files[0])
nome = extrairNomeCliente(varTesteCliente) 
nome

'DAIANY KELLY NEVES DE OLIVEIRA'

In [4]:
df = extrairDividasJson(varTesteCliente)
df

Empty DataFrame
Columns: [nome, tipoDivida, nomeDivida]
Index: []

In [ ]:
import openpyxl as xl
from openpyxl.utils.dataframe import dataframe_to_rows

In [ ]:
planilhaExcel = r'C:\Users\Matheus\Downloads\teste\Simulador FI_v10_novo layout.xlsm'

In [ ]:
#Abrir Planilha
wb = xl.load_workbook(planilhaExcel, data_only=False, keep_vba=True)
#Abrir Abas
ws = wb['Resumo']

In [ ]:
for row in ws['H15:H23']:
  for cell in row:
    cell.value = None

In [ ]:
ws["H15"].value = nome
i = -1

#Inserir nome da divida
for row in ws['H16:H23']:
    i = i +1
    for cell in row:
        try:
            cell.value = df['nomeDivida'][i]
        except:
            pass
i = -1
#Inserir Valores Vencido
for row in ws['J16:J23']:
    i = i +1
    for cell in row:
        try:
            cell.value = df['Vencido'][i]
        except:
            pass
i = -1
#Inserir Valores Prejuizo
for row in ws['K16:K23']:
    i = i +1
    for cell in row:
        try:
            cell.value = df['Prejuizo'][i]
        except:
            pass
i = -1
#Inserir Valores Em dia
for row in ws['L16:L23']:
    i = i +1
    for cell in row:
        try:
            cell.value = df['Em dia'][i]
        except:
            pass

#Inserir Valor do Limite
ws['O16'].value = df['Limite'].sum()

###

In [ ]:
wb.save(planilhaExcel)

c:\Users\Matheus\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\comments\shape_writer.py:74: FutureWarning: The behavior of this method will change in future versions. Use specific 'len(elem)' or 'elem is not None' test instead.
  if not shape_types: